.App {
  text-align: center;
}

.App-logo {
  width: 35vmin;
  pointer-events: none;
  border: 2px solid rgb(90, 86, 170);
  border-radius: 6px;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #adc3df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(43, 34, 48);
}

.App-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(43, 34, 48);
  padding: 15px;
}

.App-link {
  color: #189cc0;
}

a {
  text-decoration: none;
  color: black;
  margin: 4px;
}

a:link {
  text-decoration: none;
}

.tl-img {
  width: 3vmin;
}

.image-tile {
  width: 9vmin;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  border-radius: 12px;
}

.image-tile:hover {
  box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.4);
}

.thumbnail {
  width: 20vmin;
  object-fit: cover;
  border: 15px solid white;
  border-radius: 12px;
}

.project-tile {
  width: 9vmin;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  border-radius: 12px;
}

.project-tile:hover {
  box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.4);
  text-decoration: underline;
  cursor: pointer;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
