.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
  object-fit: cover;
  border: 2px solid rgb(90, 86, 170);
  border-radius: 6px;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #adc3df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(43, 34, 48);
}

.App-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(43, 34, 48);
  padding: 15px;
}

.App-link {
  color: #189cc0;
}

a {
  text-decoration: none;
  margin: 4px;
}

.tl-img {
  width: 3vmin;
}

.contact-img {
  width: 10vmin;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
